body {
    font-size: 12pt;
    background-color: lightblue;
    width: 100%;
}

nav {
    font-size: 2rem;
    background-color: blueviolet;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.link {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 4px;
    padding-right: 4px;
    border: 2px solid blue;
}

date {
    text-align: right;
    margin-left: 1rem;
}

header {
    font-size: 3rem;
    text-align: center;
}

main {
    font-size: 2rem;
    text-align: center;
}

img {
    max-width: 100%;
}

footer {
    font-size: 0.8rem;
    text-align: center;
}

.self-intro {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}